In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# names = ['Pass','Profit', 'Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','Inputs']
df_D1_2 = pd.read_csv('C:/Users/Marin/Desktop/doktorar/qoutes/nzdusd/testing/AUDUSD/D1/D1_audusd_BEST_settings.txt', delimiter = '\t', header=None,names = ['Pass','Profit', 'Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','??','volume_1','volume_2','volume_3','pips2','pips3','pips1','hiddenAction','timeFrame'] )
df_D1_2.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,432000,5497.8,63,10.11,87.27,2815.2,2.80%,0.0,volume1=10,volume2=1,volume3=1,pips2=13,pips3=22,pips1=1,hiddenActions=0,NaN
1,285000,5421.4,63,9.98,86.05,2815.2,2.80%,0.0,volume1=10,volume2=1,volume3=1,pips2=13,pips3=15,pips1=1,hiddenActions=0,NaN
2,264000,5421.4,63,9.98,86.05,2815.2,2.80%,0.0,volume1=10,volume2=1,volume3=1,pips2=13,pips3=14,pips1=1,hiddenActions=0,NaN
3,431999,5407.4,63,12.19,85.83,2580.6,2.57%,0.0,volume1=9,volume2=1,volume3=1,pips2=13,pips3=22,pips1=1,hiddenActions=0,NaN
4,411000,5406.6,63,9.96,85.82,2815.2,2.80%,0.0,volume1=10,volume2=1,volume3=1,pips2=13,pips3=21,pips1=1,hiddenActions=0,NaN

In [3]:
df_D1_3 = df_D1_2

df_D1_3['Drawdown_%'] = df_D1_3['Drawdown_%'].str.replace('%', '')
df_D1_3['volume_1'] = df_D1_3['volume_1'].str.replace('volume1=', '')
df_D1_3['volume_2'] = df_D1_3['volume_2'].str.replace('volume2=', '')
df_D1_3['volume_3'] = df_D1_3['volume_3'].str.replace('volume3=', '')

df_D1_3['pips2'] = df_D1_3['pips2'].str.replace('pips2=', '')
df_D1_3['pips3'] = df_D1_3['pips3'].str.replace('pips3=', '')
df_D1_3['pips1'] = df_D1_3['pips1'].str.replace('pips1=', '')

df_D1_3['hiddenAction'] = df_D1_3['hiddenAction'].str.replace('hiddenActions=', '')
df_D1_3['timeFrame'] = '1440'
df_D1_3.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,432000,5497.8,63,10.11,87.27,2815.2,2.80,0.0,10,1,1,13,22,1,0,1440
1,285000,5421.4,63,9.98,86.05,2815.2,2.80,0.0,10,1,1,13,15,1,0,1440
2,264000,5421.4,63,9.98,86.05,2815.2,2.80,0.0,10,1,1,13,14,1,0,1440
3,431999,5407.4,63,12.19,85.83,2580.6,2.57,0.0,9,1,1,13,22,1,0,1440
4,411000,5406.6,63,9.96,85.82,2815.2,2.80,0.0,10,1,1,13,21,1,0,1440

In [4]:
df_D1_4 = df_D1_3[['Pass','Profit','Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','volume_1','volume_2','volume_3','pips2','pips3','pips1','hiddenAction','timeFrame']]
df_D1_4.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,432000,5497.8,63,10.11,87.27,2815.2,2.80,10,1,1,13,22,1,0,1440
1,285000,5421.4,63,9.98,86.05,2815.2,2.80,10,1,1,13,15,1,0,1440
2,264000,5421.4,63,9.98,86.05,2815.2,2.80,10,1,1,13,14,1,0,1440
3,431999,5407.4,63,12.19,85.83,2580.6,2.57,9,1,1,13,22,1,0,1440
4,411000,5406.6,63,9.96,85.82,2815.2,2.80,10,1,1,13,21,1,0,1440

In [5]:
df_D1_4['Drawdown_%'] = df_D1_4['Drawdown_%'].astype(float)
df_D1_4['volume_1'] = df_D1_4['volume_1'].astype(float)
df_D1_4['volume_2'] = df_D1_4['volume_2'].astype(float)
df_D1_4['volume_3'] = df_D1_4['volume_3'].astype(float)

df_D1_4['pips2'] = df_D1_4['pips2'].astype(float)
df_D1_4['pips3'] = df_D1_4['pips3'].astype(float)
df_D1_4['pips1'] = df_D1_4['pips1'].astype(float)

df_D1_4['hiddenAction'] = df_D1_4['hiddenAction'].astype(float)
df_D1_4['timeFrame'] = df_D1_4['timeFrame'].astype(float)

df_D1_4.head()

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,432000,5497.8,63,10.11,87.27,2815.2,2.80,10.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0
1,285000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,15.0,1.0,0.0,1440.0
2,264000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,14.0,1.0,0.0,1440.0
3,431999,5407.4,63,12.19,85.83,2580.6,2.57,9.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0
4,411000,5406.6,63,9.96,85.82,2815.2,2.80,10.0,1.0,1.0,13.0,21.0,1.0,0.0,1440.0

In [6]:
df_D1_4["risk ratio"] = df_D1_4['Profit']/df_D1_4['Drawdown_$']
df_D1_4.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,432000,5497.8,63,10.11,87.27,2815.2,2.80,10.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0,1.952899
1,285000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,15.0,1.0,0.0,1440.0,1.925760
2,264000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,14.0,1.0,0.0,1440.0,1.925760
3,431999,5407.4,63,12.19,85.83,2580.6,2.57,9.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0,2.095404
4,411000,5406.6,63,9.96,85.82,2815.2,2.80,10.0,1.0,1.0,13.0,21.0,1.0,0.0,1440.0,1.920503

In [7]:
df_D1_5_cut = df_D1_4[:1000]
df_D1_5_cut.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,432000,5497.8,63,10.11,87.27,2815.2,2.80,10.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0,1.952899
1,285000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,15.0,1.0,0.0,1440.0,1.925760
2,264000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,14.0,1.0,0.0,1440.0,1.925760
3,431999,5407.4,63,12.19,85.83,2580.6,2.57,9.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0,2.095404
4,411000,5406.6,63,9.96,85.82,2815.2,2.80,10.0,1.0,1.0,13.0,21.0,1.0,0.0,1440.0,1.920503

In [8]:
# names = ['Pass','Profit', 'Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','Inputs']
df_H4_2 = pd.read_csv('C:/Users/Marin/Desktop/doktorar/qoutes/nzdusd/testing/AUDUSD/H4/H4_audusd_optimizationSETTINGS.txt', delimiter = '\t', header=None,names = ['Pass','Profit', 'Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','??','volume_1','volume_2','volume_3','pips2','pips3','pips1','hiddenAction','timeFrame'] )
df_H4_2.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,190000,19996.30,393,6.75,50.88,47406.80,40.22%,0.0,volume1=10,volume2=1,volume3=1,pips2=2,pips3=11,pips1=1,hiddenActions=0,NaN
1,189990,19823.53,393,6.82,50.44,47013.91,39.94%,0.0,volume1=10,volume2=0.9,volume3=1,pips2=2,pips3=11,pips1=1,hiddenActions=0,NaN
2,189980,19650.76,393,6.89,50.00,46621.02,39.66%,0.0,volume1=10,volume2=0.8,volume3=1,pips2=2,pips3=11,pips1=1,hiddenActions=0,NaN
3,189970,19477.99,393,6.96,49.56,46228.13,39.37%,0.0,volume1=10,volume2=0.7,volume3=1,pips2=2,pips3=11,pips1=1,hiddenActions=0,NaN
4,420337,19435.90,393,3.45,49.46,48677.40,40.22%,0.0,volume1=10,volume2=1,volume3=1,pips2=2,pips3=22,pips1=1,hiddenActions=0,NaN

In [9]:
df_H4_3 = df_H4_2

df_H4_3['Drawdown_%'] = df_H4_3['Drawdown_%'].str.replace('%', '')
df_H4_3['volume_1'] = df_H4_3['volume_1'].str.replace('volume1=', '')
df_H4_3['volume_2'] = df_H4_3['volume_2'].str.replace('volume2=', '')
df_H4_3['volume_3'] = df_H4_3['volume_3'].str.replace('volume3=', '')

df_H4_3['pips2'] = df_H4_3['pips2'].str.replace('pips2=', '')
df_H4_3['pips3'] = df_H4_3['pips3'].str.replace('pips3=', '')
df_H4_3['pips1'] = df_H4_3['pips1'].str.replace('pips1=', '')

df_H4_3['hiddenAction'] = df_H4_3['hiddenAction'].str.replace('hiddenActions=', '')
df_H4_3['timeFrame'] = "240"

df_H4_3.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,190000,19996.30,393,6.75,50.88,47406.80,40.22,0.0,10,1,1,2,11,1,0,240
1,189990,19823.53,393,6.82,50.44,47013.91,39.94,0.0,10,0.9,1,2,11,1,0,240
2,189980,19650.76,393,6.89,50.00,46621.02,39.66,0.0,10,0.8,1,2,11,1,0,240
3,189970,19477.99,393,6.96,49.56,46228.13,39.37,0.0,10,0.7,1,2,11,1,0,240
4,420337,19435.90,393,3.45,49.46,48677.40,40.22,0.0,10,1,1,2,22,1,0,240

In [10]:
df_H4_4 = df_H4_3[['Pass','Profit','Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','volume_1','volume_2','volume_3','pips2','pips3','pips1','hiddenAction','timeFrame']]
df_H4_4.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,190000,19996.30,393,6.75,50.88,47406.80,40.22,10,1,1,2,11,1,0,240
1,189990,19823.53,393,6.82,50.44,47013.91,39.94,10,0.9,1,2,11,1,0,240
2,189980,19650.76,393,6.89,50.00,46621.02,39.66,10,0.8,1,2,11,1,0,240
3,189970,19477.99,393,6.96,49.56,46228.13,39.37,10,0.7,1,2,11,1,0,240
4,420337,19435.90,393,3.45,49.46,48677.40,40.22,10,1,1,2,22,1,0,240

In [11]:
df_H4_4['Drawdown_%'] = df_H4_4['Drawdown_%'].astype(float)
df_H4_4['volume_1'] = df_H4_4['volume_1'].astype(float)
df_H4_4['volume_2'] = df_H4_4['volume_2'].astype(float)
df_H4_4['volume_3'] = df_H4_4['volume_3'].astype(float)

df_H4_4['pips2'] = df_H4_4['pips2'].astype(float)
df_H4_4['pips3'] = df_H4_4['pips3'].astype(float)
df_H4_4['pips1'] = df_H4_4['pips1'].astype(float)

df_H4_4['hiddenAction'] = df_H4_4['hiddenAction'].astype(float)
df_H4_4['timeFrame'] = df_H4_4['timeFrame'].astype(float)

df_H4_4.head()

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,190000,19996.30,393,6.75,50.88,47406.80,40.22,10.0,1.0,1.0,2.0,11.0,1.0,0.0,240.0
1,189990,19823.53,393,6.82,50.44,47013.91,39.94,10.0,0.9,1.0,2.0,11.0,1.0,0.0,240.0
2,189980,19650.76,393,6.89,50.00,46621.02,39.66,10.0,0.8,1.0,2.0,11.0,1.0,0.0,240.0
3,189970,19477.99,393,6.96,49.56,46228.13,39.37,10.0,0.7,1.0,2.0,11.0,1.0,0.0,240.0
4,420337,19435.90,393,3.45,49.46,48677.40,40.22,10.0,1.0,1.0,2.0,22.0,1.0,0.0,240.0

In [12]:
df_H4_4["risk ratio"] = df_H4_4['Profit']/df_H4_4['Drawdown_$']
df_H4_4.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,190000,19996.30,393,6.75,50.88,47406.80,40.22,10.0,1.0,1.0,2.0,11.0,1.0,0.0,240.0,0.421802
1,189990,19823.53,393,6.82,50.44,47013.91,39.94,10.0,0.9,1.0,2.0,11.0,1.0,0.0,240.0,0.421652
2,189980,19650.76,393,6.89,50.00,46621.02,39.66,10.0,0.8,1.0,2.0,11.0,1.0,0.0,240.0,0.421500
3,189970,19477.99,393,6.96,49.56,46228.13,39.37,10.0,0.7,1.0,2.0,11.0,1.0,0.0,240.0,0.421345
4,420337,19435.90,393,3.45,49.46,48677.40,40.22,10.0,1.0,1.0,2.0,22.0,1.0,0.0,240.0,0.399280

In [13]:
df_H4_5_cut = df_H4_4[:1000]
df_H4_5_cut.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,190000,19996.30,393,6.75,50.88,47406.80,40.22,10.0,1.0,1.0,2.0,11.0,1.0,0.0,240.0,0.421802
1,189990,19823.53,393,6.82,50.44,47013.91,39.94,10.0,0.9,1.0,2.0,11.0,1.0,0.0,240.0,0.421652
2,189980,19650.76,393,6.89,50.00,46621.02,39.66,10.0,0.8,1.0,2.0,11.0,1.0,0.0,240.0,0.421500
3,189970,19477.99,393,6.96,49.56,46228.13,39.37,10.0,0.7,1.0,2.0,11.0,1.0,0.0,240.0,0.421345
4,420337,19435.90,393,3.45,49.46,48677.40,40.22,10.0,1.0,1.0,2.0,22.0,1.0,0.0,240.0,0.399280

In [14]:
# names = ['Pass','Profit', 'Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','Inputs']
df_H1_2 = pd.read_csv('C:/Users/Marin/Desktop/doktorar/qoutes/nzdusd/testing/AUDUSD/H1/H1/H1_audusd_optimizationSETTINGS.txt', delimiter = '\t', header=None,names = ['Pass','Profit', 'Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','??','volume_1','volume_2','volume_3','pips2','pips3','pips1','hiddenAction','timeFrame'] )
df_H1_2.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,361000,66230.90,1140,9.71,58.10,19260.0,17.24%,0.0,volume1=10,volume2=1,volume3=1,pips2=3,pips3=22,pips1=1,hiddenActions=0,NaN
1,360990,65657.81,1140,10.05,57.59,19099.5,17.11%,0.0,volume1=10,volume2=0.9,volume3=1,pips2=3,pips3=22,pips1=1,hiddenActions=0,NaN
2,341000,65528.90,1140,9.62,57.48,19260.0,17.27%,0.0,volume1=10,volume2=1,volume3=1,pips2=3,pips3=21,pips1=1,hiddenActions=0,NaN
3,321000,65175.90,1140,9.57,57.17,19260.0,17.31%,0.0,volume1=10,volume2=1,volume3=1,pips2=3,pips3=20,pips1=1,hiddenActions=0,NaN
4,360980,65084.72,1140,10.42,57.09,18939.0,16.98%,0.0,volume1=10,volume2=0.8,volume3=1,pips2=3,pips3=22,pips1=1,hiddenActions=0,NaN

In [15]:
df_H1_3 = df_H1_2

df_H1_3['Drawdown_%'] = df_H1_3['Drawdown_%'].str.replace('%', '')
df_H1_3['volume_1'] = df_H1_3['volume_1'].str.replace('volume1=', '')
df_H1_3['volume_2'] = df_H1_3['volume_2'].str.replace('volume2=', '')
df_H1_3['volume_3'] = df_H1_3['volume_3'].str.replace('volume3=', '')

df_H1_3['pips2'] = df_H1_3['pips2'].str.replace('pips2=', '')
df_H1_3['pips3'] = df_H1_3['pips3'].str.replace('pips3=', '')
df_H1_3['pips1'] = df_H1_3['pips1'].str.replace('pips1=', '')

df_H1_3['hiddenAction'] = df_H1_3['hiddenAction'].str.replace('hiddenActions=', '')
df_H1_3['timeFrame'] = "60"

df_H1_3.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,361000,66230.90,1140,9.71,58.10,19260.0,17.24,0.0,10,1,1,3,22,1,0,60
1,360990,65657.81,1140,10.05,57.59,19099.5,17.11,0.0,10,0.9,1,3,22,1,0,60
2,341000,65528.90,1140,9.62,57.48,19260.0,17.27,0.0,10,1,1,3,21,1,0,60
3,321000,65175.90,1140,9.57,57.17,19260.0,17.31,0.0,10,1,1,3,20,1,0,60
4,360980,65084.72,1140,10.42,57.09,18939.0,16.98,0.0,10,0.8,1,3,22,1,0,60

In [16]:
df_H1_4 = df_H1_3[['Pass','Profit','Total_trades','Profit_factor','Expected_Payoff','Drawdown_$','Drawdown_%','volume_1','volume_2','volume_3','pips2','pips3','pips1','hiddenAction','timeFrame']]
df_H1_4.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,361000,66230.90,1140,9.71,58.10,19260.0,17.24,10,1,1,3,22,1,0,60
1,360990,65657.81,1140,10.05,57.59,19099.5,17.11,10,0.9,1,3,22,1,0,60
2,341000,65528.90,1140,9.62,57.48,19260.0,17.27,10,1,1,3,21,1,0,60
3,321000,65175.90,1140,9.57,57.17,19260.0,17.31,10,1,1,3,20,1,0,60
4,360980,65084.72,1140,10.42,57.09,18939.0,16.98,10,0.8,1,3,22,1,0,60

In [17]:
df_H1_4['Drawdown_%'] = df_H1_4['Drawdown_%'].astype(float)
df_H1_4['volume_1'] = df_H1_4['volume_1'].astype(float)
df_H1_4['volume_2'] = df_H1_4['volume_2'].astype(float)
df_H1_4['volume_3'] = df_H1_4['volume_3'].astype(float)

df_H1_4['pips2'] = df_H1_4['pips2'].astype(float)
df_H1_4['pips3'] = df_H1_4['pips3'].astype(float)
df_H1_4['pips1'] = df_H1_4['pips1'].astype(float)

df_H1_4['hiddenAction'] = df_H1_4['hiddenAction'].astype(float)
df_H1_4['timeFrame'] = df_H1_4['timeFrame'].astype(float)

df_H1_4.head()

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Marin\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,361000,66230.90,1140,9.71,58.10,19260.0,17.24,10.0,1.0,1.0,3.0,22.0,1.0,0.0,60.0
1,360990,65657.81,1140,10.05,57.59,19099.5,17.11,10.0,0.9,1.0,3.0,22.0,1.0,0.0,60.0
2,341000,65528.90,1140,9.62,57.48,19260.0,17.27,10.0,1.0,1.0,3.0,21.0,1.0,0.0,60.0
3,321000,65175.90,1140,9.57,57.17,19260.0,17.31,10.0,1.0,1.0,3.0,20.0,1.0,0.0,60.0
4,360980,65084.72,1140,10.42,57.09,18939.0,16.98,10.0,0.8,1.0,3.0,22.0,1.0,0.0,60.0

In [18]:
df_H1_4["risk ratio"] = df_H1_4['Profit']/df_H4_4['Drawdown_$']
df_H1_4.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,361000,66230.90,1140,9.71,58.10,19260.0,17.24,10.0,1.0,1.0,3.0,22.0,1.0,0.0,60.0,1.397076
1,360990,65657.81,1140,10.05,57.59,19099.5,17.11,10.0,0.9,1.0,3.0,22.0,1.0,0.0,60.0,1.396561
2,341000,65528.90,1140,9.62,57.48,19260.0,17.27,10.0,1.0,1.0,3.0,21.0,1.0,0.0,60.0,1.405566
3,321000,65175.90,1140,9.57,57.17,19260.0,17.31,10.0,1.0,1.0,3.0,20.0,1.0,0.0,60.0,1.409875
4,360980,65084.72,1140,10.42,57.09,18939.0,16.98,10.0,0.8,1.0,3.0,22.0,1.0,0.0,60.0,1.337062

In [19]:
df_H1_5_cut = df_H1_4[:1000]
df_H1_5_cut.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,361000,66230.90,1140,9.71,58.10,19260.0,17.24,10.0,1.0,1.0,3.0,22.0,1.0,0.0,60.0,1.397076
1,360990,65657.81,1140,10.05,57.59,19099.5,17.11,10.0,0.9,1.0,3.0,22.0,1.0,0.0,60.0,1.396561
2,341000,65528.90,1140,9.62,57.48,19260.0,17.27,10.0,1.0,1.0,3.0,21.0,1.0,0.0,60.0,1.405566
3,321000,65175.90,1140,9.57,57.17,19260.0,17.31,10.0,1.0,1.0,3.0,20.0,1.0,0.0,60.0,1.409875
4,360980,65084.72,1140,10.42,57.09,18939.0,16.98,10.0,0.8,1.0,3.0,22.0,1.0,0.0,60.0,1.337062

In [20]:
df_D1_H4_H1 = pd.concat([df_D1_5_cut, df_H4_5_cut, df_H1_5_cut], ignore_index=True)

df_D1_H4_H1.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,432000,5497.8,63,10.11,87.27,2815.2,2.80,10.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0,1.952899
1,285000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,15.0,1.0,0.0,1440.0,1.925760
2,264000,5421.4,63,9.98,86.05,2815.2,2.80,10.0,1.0,1.0,13.0,14.0,1.0,0.0,1440.0,1.925760
3,431999,5407.4,63,12.19,85.83,2580.6,2.57,9.0,1.0,1.0,13.0,22.0,1.0,0.0,1440.0,2.095404
4,411000,5406.6,63,9.96,85.82,2815.2,2.80,10.0,1.0,1.0,13.0,21.0,1.0,0.0,1440.0,1.920503

In [21]:
#range and for loop
D1_df_5000 = pd.DataFrame()

#idNum=(np.random.uniform(size=5000)*440000).round(decimals=0)
#D1_df_5000 = np.random.choice(df_D1_2[], size=5000, replace=True, p=None)

D1_df_5000 = df_D1_2.sample(n=5000, replace=False, weights=None, random_state=0)
D1_df_5000.mean()
#df_D1_2.mean()

Pass               2.187666e+05
Profit             2.344924e+03
Total_trades       6.300000e+01
Profit_factor      1.111963e+01
Expected_Payoff    3.722105e+01
Drawdown_$         1.539312e+03
??                 0.000000e+00
pips3                       inf
hiddenAction       0.000000e+00
timeFrame                   inf
dtype: float64

In [23]:
#range and for loop
H4_df_5000 = pd.DataFrame()

#idNum=(np.random.uniform(size=5000)*440000).round(decimals=0)
#D1_df_5000 = np.random.choice(df_D1_2[], size=5000, replace=True, p=None)

H4_df_5000 = df_H4_2.sample(n=5000, replace=False, weights=None, random_state=0)
H4_df_5000.mean()

Pass               2.205474e+05
Profit             6.765658e+03
Total_trades       3.930000e+02
Profit_factor      2.832746e+00
Expected_Payoff    1.721541e+01
Drawdown_$         2.639386e+04
??                 0.000000e+00
pips3                       inf
hiddenAction       0.000000e+00
timeFrame                   inf
dtype: float64

In [24]:
H1_df_5000 = pd.DataFrame()

#idNum=(np.random.uniform(size=5000)*440000).round(decimals=0)
#D1_df_5000 = np.random.choice(df_D1_2[], size=5000, replace=True, p=None)

H1_df_5000 = df_H1_2.sample(n=5000, replace=False, weights=None, random_state=0)
H1_df_5000.mean()

Pass               1.858348e+05
Profit             2.661689e+04
Total_trades       1.140000e+03
Profit_factor      8.382146e+00
Expected_Payoff    2.334817e+01
Drawdown_$         1.060454e+04
??                 0.000000e+00
pips3                       inf
hiddenAction       0.000000e+00
timeFrame                   inf
dtype: float64

In [25]:
df_D1_H4_H1_5000 = pd.concat([D1_df_5000, H4_df_5000, H1_df_5000], ignore_index=True)

df_D1_H4_H1_5000.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame
0,268997,4271.00,63,8.09,67.79,2111.40,2.10,0.0,7,1,1,18,14,1,0,1440
1,183285,2184.80,63,5.04,34.68,1454.52,1.45,0.0,5,0.9,0.3,17,10,1,0,1440
2,109256,1904.76,63,8.05,30.23,1618.74,1.62,0.0,6,0.6,0.3,6,7,1,0,1440
3,85669,2706.16,63,11.74,42.95,2439.84,2.44,0.0,9,0.7,0.7,3,6,1,0,1440
4,326453,2254.84,63,13.84,35.79,961.86,0.96,0.0,3,0.6,0.5,13,17,1,0,1440

In [27]:
df_D1_H4_H1_5000["risk ratio"] = df_D1_H4_H1_5000['Profit']/df_D1_H4_H1_5000['Drawdown_$']
df_D1_H4_H1_5000.head()

,Pass,Profit,Total_trades,Profit_factor,Expected_Payoff,Drawdown_$,Drawdown_%,??,volume_1,volume_2,volume_3,pips2,pips3,pips1,hiddenAction,timeFrame,risk ratio
0,268997,4271.00,63,8.09,67.79,2111.40,2.10,0.0,7,1,1,18,14,1,0,1440,2.022828
1,183285,2184.80,63,5.04,34.68,1454.52,1.45,0.0,5,0.9,0.3,17,10,1,0,1440,1.502076
2,109256,1904.76,63,8.05,30.23,1618.74,1.62,0.0,6,0.6,0.3,6,7,1,0,1440,1.176693
3,85669,2706.16,63,11.74,42.95,2439.84,2.44,0.0,9,0.7,0.7,3,6,1,0,1440,1.109155
4,326453,2254.84,63,13.84,35.79,961.86,0.96,0.0,3,0.6,0.5,13,17,1,0,1440,2.344250

In [28]:
df_D1_H4_H1_5000.to_csv('sample5000_detailed_reports.csv')